In [49]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [14]:
data=pd.read_csv(r"C:\Users\KATYAYANI\Downloads\matches.csv")

In [15]:
data

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
751,11347,2019,Mumbai,05/05/19,Kolkata Knight Riders,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,9,HH Pandya,Wankhede Stadium,Nanda Kishore,O Nandan,S Ravi
752,11412,2019,Chennai,07/05/19,Chennai Super Kings,Mumbai Indians,Chennai Super Kings,bat,normal,0,Mumbai Indians,0,6,AS Yadav,M. A. Chidambaram Stadium,Nigel Llong,Nitin Menon,Ian Gould
753,11413,2019,Visakhapatnam,08/05/19,Sunrisers Hyderabad,Delhi Capitals,Delhi Capitals,field,normal,0,Delhi Capitals,0,2,RR Pant,ACA-VDCA Stadium,NaN,NaN,NaN
754,11414,2019,Visakhapatnam,10/05/19,Delhi Capitals,Chennai Super Kings,Chennai Super Kings,field,normal,0,Chennai Super Kings,0,6,F du Plessis,ACA-VDCA Stadium,Sundaram Ravi,Bruce Oxenford,Chettithody Shamshuddin
755,11415,2019,Hyderabad,12/05/19,Mumbai Indians,Chennai Super Kings,Mumbai Indians,bat,normal,0,Mumbai Indians,1,0,JJ Bumrah,Rajiv Gandhi Intl. Cricket Stadium,Nitin Menon,Ian Gould,Nigel Llong

In [16]:
data["season"].max()

2019

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 756 entries, 0 to 755
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               756 non-null    int64
 1   season           756 non-null    int64
 2   city             749 non-null    object
 3   date             756 non-null    object
 4   team1            756 non-null    object
 5   team2            756 non-null    object
 6   toss_winner      756 non-null    object
 7   toss_decision    756 non-null    object
 8   result           756 non-null    object
 9   dl_applied       756 non-null    int64
 10  winner           752 non-null    object
 11  win_by_runs      756 non-null    int64
 12  win_by_wickets   756 non-null    int64
 13  player_of_match  752 non-null    object
 14  venue            756 non-null    object
 15  umpire1          754 non-null    object
 16  umpire2          754 non-null    object
 17  umpire3          119 non-null    object
dtypes: int64(5), object(13)
memory usage: 106.4+ KB

In [22]:
#2.The column which has the most missing values according to the data is:

data["umpire3"].isna().sum()

637

In [23]:
data["city"].isna().sum()

7

In [120]:
#3. City which hosted most number of seasons according to the data is
data["city"].value_counts()

Mumbai            101
Kolkata            77
Delhi              74
Bangalore          66
Hyderabad          64
Chennai            57
Jaipur             47
Chandigarh         46
Pune               38
Durban             15
Bengaluru          14
Visakhapatnam      13
Centurion          12
Ahmedabad          12
Rajkot             10
Mohali             10
Indore              9
Dharamsala          9
Johannesburg        8
Cuttack             7
Ranchi              7
Port Elizabeth      7
Cape Town           7
Abu Dhabi           7
Sharjah             6
Raipur              6
Kochi               5
Kanpur              4
Nagpur              3
Kimberley           3
East London         3
Bloemfontein        2
Name: city, dtype: int64

In [48]:
#5) Maximum wins by Mumbai Indians in 2011 are
data.loc[(data["season"]==2011) & (data["winner"]=="Mumbai Indians"),["season","winner"]]

     season          winner
237    2011  Mumbai Indians
241    2011  Mumbai Indians
253    2011  Mumbai Indians
256    2011  Mumbai Indians
259    2011  Mumbai Indians
272    2011  Mumbai Indians
276    2011  Mumbai Indians
281    2011  Mumbai Indians
302    2011  Mumbai Indians
304    2011  Mumbai Indians

In [60]:
#7What is the percentage of getting bat and field in feature 'toss_descision'?

decision_percentage = data['toss_decision'].value_counts(normalize=True) * 100
decision_percentage

field    61.243386
bat      38.756614
Name: toss_decision, dtype: float64

In [64]:
#8)Which statement holds true
field_wins = data[data['toss_decision'] == 'field']
field_wins_by_year = field_wins.groupby('season')['winner'].count()
field_wins_by_year

season
2008    32
2009    22
2010    21
2011    48
2012    37
2013    31
2014    41
2015    32
2016    49
2017    48
2018    50
2019    49
Name: winner, dtype: int64

In [80]:
wickets_by_bowler = data[data['win_by_wickets'].notnull()].groupby('player_of_match')['win_by_wickets'].count()
wickets_by_bowler

player_of_match
A Chandila            1
A Joseph              1
A Kumble              3
A Mishra             11
A Nehra               6
                     ..
Washington Sundar     1
YK Pathan            16
YS Chahal             1
Yuvraj Singh          5
Z Khan                1
Name: win_by_wickets, Length: 226, dtype: int64

In [91]:
#15.Which venue has hosted most number of IPL matches?

venue_match_counts = data.groupby('venue')['id'].count()
most_matches_venue = venue_match_counts.idxmax()
print("Venue that has hosted the most number of IPL matches:", most_matches_venue)

Venue that has hosted the most number of IPL matches: Eden Gardens

In [123]:
data1=pd.read_csv(r"C:\Users\KATYAYANI\Downloads\deliveries.csv")

data1

In [124]:
data1

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179073,11415,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,SR Watson,SL Malinga,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
179074,11415,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,RA Jadeja,SL Malinga,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
179075,11415,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,RA Jadeja,SL Malinga,0,...,0,0,0,0,1,0,1,SR Watson,run out,KH Pandya
179076,11415,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,RA Jadeja,SL Malinga,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
179077,11415,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,RA Jadeja,SL Malinga,0,...,0,0,0,0,0,0,0,SN Thakur,lbw,NaN

In [130]:
data1["bye_runs"].value_counts()

0    178598
1       324
4       123
2        31
3         2
Name: bye_runs, dtype: int64

In [133]:
data1.rename(columns={'match_id': 'id'}, inplace=True)
data1=data.merge(data1,how="inner",on=["id"])

In [135]:
#11. In 2019 which batsman scored highest number of runs by hitting 6's and 4's?
data1.loc[(data1["season"]==2019) & (data1["batsman"]=="CH Gayle") & ((data1["bye_runs"]==6) | (data1["bye_runs"]==4))]

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
165550,11140,2019,Jaipur,25/03/19,Kings XI Punjab,Rajasthan Royals,Rajasthan Royals,field,normal,0,...,4,0,0,0,4,4,8,NaN,NaN,NaN
172315,11323,2019,Mohali,16/04/19,Kings XI Punjab,Rajasthan Royals,Rajasthan Royals,field,normal,0,...,4,0,0,0,4,4,8,NaN,NaN,NaN

In [136]:
#12. Most number of wickets taken by a bowler is
data1.loc[(data1["dismissal_kind"]=="hit wicket") & (data1["bowler"]=="Harbhajan Singh"),["bowler","dismissal_kind"]]

                bowler dismissal_kind
86635  Harbhajan Singh     hit wicket

In [137]:
#14.  Bowlers with maximum number of extras:
data1.loc[data1["bowler"]=="P Kumar","extra_runs"].sum()

236

In [138]:
#15.Which venue has hosted most number of IPL matches?

venue_match_counts = data.groupby('venue')['id'].count()
most_matches_venue = venue_match_counts.idxmax()
print("Venue that has hosted the most number of IPL matches:", most_matches_venue)

Venue that has hosted the most number of IPL matches: Eden Gardens

In [139]:
#16. In 2017 when sunrisers hyderabad clashed against Royal Challengers Bangalore which team player won player of the match?
data1.loc[(data1["team1"]=="Sunrisers Hyderabad") & (data1["team2"]=="Royal Challengers Bangalore") & (data1["season"]==2017),['player_of_match']].value_counts()

player_of_match
Yuvraj Singh       248
dtype: int64

In [140]:
#17. Across seasons who are the top three batsman's with most number of run out?
data1.loc[(data1["batsman"]=="MS Dhoni") & (data1["dismissal_kind"]=="run out"),["batsman"]].count()

batsman    21
dtype: int64

In [141]:
#18. What are the total runs scored by V Kohli when the bowler was JJ Burmah
data1.loc[(data1["bowler"]=="JJ Bumrah") & (data1["batsman"]=="V Kohli"),["total_runs"]].sum()

total_runs    114
dtype: int64